{% extends 'layout.html' %}
{% block body %}
<main>
    <section>
        <div>
            <h1>Adventure<span>Works</span></h1>
        </div>
        <div>
            <p>
                Where each pedal stroke is the beginning of a new story.
            </p>
        </div>
    </section>
    <section>
        <div>
            
        </div>
        <div>

        </div>
    </section>
    <section>
        <div>

        </div>
        <div>

        </div>
    </section>
    <section>
        <div>

        </div>
        <div>

        </div>
    </section>
    <section>
        <div>

        </div>
        <div>

        </div>
    </section>
</main>
{% endblock %}
